[defaults]
host_key_checking = False

inventory = inventory.yaml

retry_files_enabled = True
retry_files_save_path = .ansible-retry

# no_log = False
log_path = $PWD/ANSIBLE_LOG.log

private_role_vars = yes

# After learning more about internal ansible security the following should be
# enabled and configured
# #private_key_file = /path/to/file
# #vault_password_file = /path/to/vault_password_file

# TOREAD:
# ansible will use the 'linear' strategy but you may want to try
# another one
# #strategy = free
# NB! : there are more options in the [default]: ref:https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

# NOTE: This should be considred a security aspect:
# [privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

# [connection]
# [paramiko_connection]
#
# NOTE: the following is of critical importance when it comes to default
# behavior in regards of connection of ansible-congrol-host and
# ansible-managed-hosts -->
# 
#  [persistent_connection]
#
# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
#connect_timeout = 30
#
# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 30 second.
#command_timeout = 30

# NOTE: Another MAJOR Security related configs:
# [accelerate]
# [selinux]


[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan

[diff]
# Always print diff when running ( same as always running with -D/--diff )
 always = no

# Set how many context lines to show in diff
 context = 3

